<div class="flash-notice"><%= flash[:notice] %></div>
<h1>Edit Rating Question</h1>
 
<%= form_with(model: @rating_question, local: true) do |form| %>
   <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :tag %><br>
    <%= form.text_area :tag %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', rating_questions_path %>